#images {
    width: 80%;
    margin: 15px auto;
    display: grid;
    grid-template-rows: repeat(2, minmax(150px, max-content));
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    justify-items: center;
    gap: 20px;
}
.comment {
    background-color: rgba(100, 200, 144, 0.5);
    width: 100%;
}
#x {
    cursor: pointer;
    background-color: red;
    width: 13px;
}

.image-container {
    display: grid;
    grid-template-rows: 150px 20px;
    width: 100%;
    margin: 10px;
    border-radius: 2%;
    border: black 2px solid;
    overflow: hidden;
    text-align: center;
}

.image {
    justify-self: center;
    max-height: 150px;
    min-width: 180px;
}
#input-bar {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, max-content));
    justify-content: center;
    gap: 10px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#modal-container {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#modal-comment-info {
    grid-column: 2/3;
}

.button {
    background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    background-color: #6aa150;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #34661b;
    cursor: pointer;
    color: #ffffff;
    -webkit-appearance: button;
}
.button:hover {
    background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    background-color: #68a54b;
}

#modal-container {
    border: red dotted 3px;
}

label {
    font-size: 0.75;
    font-weight: 700;
    color: white;
    background-color: black;
    cursor: pointer;
    text-align: center;
}

label:hover {
    background-color: red;
}

::placeholder {
    text-transform: uppercase;
}
/* .red {
    border: red solid 2px;
} */
#modal-image {
    max-width: 100%;
    min-width: 99%;
}
